spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/batchdb
    username: batch
    password: batch
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.jdbc.time_zone: UTC
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

logging:
  level:
    org.springframework.batch: INFO
